
.Rproj.user/E7CDE54D/sources/prop/

.Rproj.user/E7CDE54D/sources/s-8B89F562/

*.json

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths

Assignment 7.Rmd

Baby Boom Data.csv

*.html

*.csv

.Rproj.user/shared/notebooks/489D5E9E-Rebecca N Assignment 7/1/s/c10sebi8v5u8m/000003.metadata

.Rproj.user/shared/notebooks/489D5E9E-Rebecca N Assignment 7/1/s/c10sebi8v5u8m/000003.png

.Rproj.user/shared/notebooks/489D5E9E-Rebecca N Assignment 7/1/s/c10sebi8v5u8m/000003.snapshot
